@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600;700&display=swap');
* {
  font-family: 'Oswald', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  scroll-behavior: smooth;
}
#logo {
  font-family: 'Oswald', sans-serif;
}
#btn-dl {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
p,
a {
  font-family: 'Open Sans', sans-serif;
}
.cardImage {
  width: 90px;
  height: 120px;
}
.detail {
  width: 180px;
  height: 240px;
}
ion-icon {
  color: #fff;
}
/* #about,
#team {
  height: 640px;
} */
#recent {
  height: 480px;
}
#feature {
  height: 360px;
}

select,
option {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 376px) {
  .cardImage {
    width: 180px;
    height: 240px;
  }
  .detail {
    width: 450px;
    height: 600px;
  }
}

#main-cta:hover {
  background-color: #096dd9 !important;
  color: #d9d9d9 !important;
}
