@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600;700&display=swap');
* {
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
}
#logo {
  font-family: 'Oswald', sans-serif;
}
p,
a {
  font-family: 'Open Sans', sans-serif;
}
.cardImage {
  width: 90px;
  height: 120px;
}
.detail {
  width: 180px;
  height: 240px;
}
ion-icon {
  color: #fff;
}
#about,
#team {
  height: 640px;
}
#recent {
  height: 480px;
}
#feature {
  height: 360px;
}

@media screen and (min-width: 376px) {
  .cardImage {
    width: 180px;
    height: 240px;
  }
  .detail {
    width: 450px;
    height: 600px;
  }
}
