@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  scroll-behavior: smooth;
}

/* html {
  overflow: hidden;
} */

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

#btn-dl {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
p,
a {
  font-family: "Open Sans", sans-serif;
}
.cardImage {
  width: 90px;
  height: 120px;
}
.detail {
  width: 180px;
  height: 240px;
}
ion-icon {
  color: #fff;
}
/* #about,
#team {
  height: 640px;
} */
#recent {
  height: 480px;
}
#feature {
  height: 360px;
}

@media screen and (min-width: 376px) {
  .cardImage {
    width: 180px;
    height: 240px;
  }
  .detail {
    width: 450px;
    height: 600px;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
